body{
    background-color: #f2efea;
    color: #473d2b;
}

.container{
    text-align: center;
    padding: 3rem;
    background-color: #D8D0C1;
    width: 350px;
    margin: 150px auto;
    border: solid 2px #CBB8A9;
}

.amount{
    padding: 1rem;
}

.msg{
    padding-top: 1rem;
}

#convert{
    margin: 1rem;
    padding : 8px 10px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2efea;
    border: solid 2px #CBB8A9;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: #322c1f;
}

.dropDown{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.select-container select{
      font-size: 1rem;
  width: auto;
}

.select-container img{
    max-width: 2rem;
    margin-right: 0.5rem;
    vertical-align: middle;
    display: inline-block;
}

select{
    padding: 8px 10px;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2efea;
    border: solid 2px #CBB8A9;
    cursor: pointer;
    color: #322c1f;
}

#convert:hover{
    background-color: #9b8d74;
    color: #f2efea;
}

label{
    margin: 10px;
}
